/* * {
    outline: 1px solid red;
} */

.texty-font{
    font-family: 'Roboto Mono';
}

.bg-all {
    background-image: url('/assets/images/limestone-maybe.jpg');
}

.white {
    color: whitesmoke;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.pt-8 {
    padding-top: 8em;
}

.pb-8 {
    padding-bottom: 8em;
}

.chief {
    background-image: url('/assets/images/the-chief.jpg');
}

.icon-port {
    font-size: 10em;
    text-shadow: 25px 18px 25px black;
}

.intro {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}

.texty-1 {
    text-shadow: 17px 15px 5px black;
    font-size: 2.5em;
    color: whitesmoke;
    font-family: 'Archivo Black'
}

.texty-2 {
    text-shadow: 17px 15px 5px black;
    font-size: 1.8em;
    color: whitesmoke;
    font-family: 'Archivo Black'
}

.icon-nav {
    font-size: 3em;
    text-shadow: 20px 15px 15px black;
    color: rgb(221, 221, 221);
    padding-right: .3em
}

.icon-nav:hover {
    color: white;
}

.main-nav {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
}

.green {
    background: linear-gradient(360deg, #61815C, rgb(43, 59, 40));
}

.green-other {
    background: linear-gradient(180deg, #61815C, rgb(43, 59, 40));
}

.about-title {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono';
    color: whitesmoke;
}

.about-paras {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    color: whitesmoke;
}

.border-time {
    border: 1px outset white;
    box-shadow: 0 0 5px 5px rgb(219, 219, 221);
    background-color: #61815C;
}

.langs {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-end;
}

.lang-size {
    font-size: 2.8em;
}

.code-icon {
    font-size: 3em;
    padding-right: .1em;
}

.lang-icons {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-content: space-around;
    font-size: 6em;
    align-items: center;
}

.climb-img-pos {
    display: flex;
    justify-content: center;
    padding-right: .3em;
}

.climb-img {
    width: 110%;
    height: 100%
}

.projs-title {
    font-size: 2.8em;
    text-shadow: 17px 15px 5px black;
    color: whitesmoke;
}

.proj {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    text-shadow: 17px 15px 2px black;
    color: whitesmoke;
    /* border: 1px outset white; */
    border-radius: 20%;
    font-family: 'Roboto Mono';
}

.chess-img {
    width: 95%;
    height: 100%;
    border-radius: 15%;
    opacity: .8;
}

.chess-img:hover {
    opacity: 1;
}

.dark-bg {
    background-color: #212529;
}

.contact-title {
    font-size: 2.5em;
    color: whitesmoke;
}

.c-title-pos {
    display: flex;
    justify-content: flex-end;
}

.label-stuff {
    display: flex;
    flex-flow: wrap column;
    align-content: center;
}

.bigger {
    height: 6em;
}

.my-button {
    border-radius: 15%;
    width: 8em;
    height: 2em;
    text-align: center;;
}

.contact-stuff {
    padding-top: 8em;
}








/*MOBILE*/
@media (max-width: 1200px) {

.icon-nav {
    font-size: 1.3em;
    padding-right: .6em;
}

.c-title-pos {
    justify-content: flex-start;
    align-items: flex-end;
}

.contact-stuff {
    padding-top: 3em;
}


}